<div id="<%= dom_id currency_handout %>">
  <p>
    <strong>Title:</strong>
    <%= currency_handout.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= currency_handout.start_date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= currency_handout.value %>
  </p>

</div>
