<h1>Editing currency handout</h1>

<%= render "form", currency_handout: @currency_handout %>

<br>

<div>
  <%= link_to "Show this currency handout", @currency_handout %> |
  <%= link_to "Back to currency handouts", currency_handouts_path %>
</div>
