<p style="color: green"><%= notice %></p>

<h1>Currency handouts</h1>

<div id="currency_handouts">
  <% @currency_handouts.each do |currency_handout| %>
    <%= render currency_handout %>
    <p>
      <%= link_to "Show this currency handout", currency_handout %>
    </p>
  <% end %>
</div>

<%= link_to "New currency handout", new_currency_handout_path %>
